<div class="container">
    <h3 class=" text-center">
       Stream Messaging
       <span>{{loggedInUser}}</span>
    </h3>
    <div class="messaging">
        <div class="inbox_msg">
            <div class="inbox_people">
                <div class="headind_srch">
                    <div class="channel_heading">
                        <h4>Chats</h4>
                    </div>
                </div>
                <div class="inbox_chat">
                    <div class="channels">
                        <div class="chat_list" *ngFor="let eachChat of chatInbox " [class.active]="eachChat.name == selectedChatName" (click)="loadMessages(eachChat)">
                            <div class="chat_people">
                                <div class="chat_ib">
                                    <h5>
                                        <i *ngIf="eachChat.type==='group'" class="fa fa-users" aria-hidden="true"></i>
                                        <i *ngIf="eachChat.type!='group'" class="fa fa-user" aria-hidden="true"></i>
                                        {{eachChat.name}}

                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mesgs">
                <div class="msg_history" *ngIf="!selectedChat">
                     
                </div>
                <div class="msg_history" *ngIf="selectedChat">
                    <li class="message" *ngFor="let eachMsg of selectedChat.chats">

                        <div class="incoming_msg " *ngIf="eachMsg.sender !== loggedInUser">
                            <div class="incoming_msg_img">
                                <img src="https://i.imgur.com/k2PZLZa.png" alt="User avatar" />
                            </div>
                            <div class="received_msg">
                                <div class="received_withd_msg">
                                    <label>
                                        {{eachMsg.sender}}
                                    </label>
                                    <br />
                                    <p>
                                        {{eachMsg.content}}
                                    </p>

                                </div>
                            </div>
                        </div>


                        <div class="outgoing_msg" *ngIf="eachMsg.sender == loggedInUser">
                            <div class="outgoing_msg_img">
                                <img src="https://i.imgur.com/k2PZLZa.png" alt="User avatar" />
                            </div>
                            <div class="sent_msg">
                                <label>
                                    {{eachMsg.sender}}
                                </label>
                                <br />
                                <p>
                                    {{eachMsg.content}}
                                </p>
                            </div>
                        </div>

                    </li>
                </div>
                <div class="type_msg">
                    <form class="input_msg_write">
                        <input type="text" class="write_msg" placeholder="Type a message" name="newMessage"
                            autocomplete="off" [(ngModel)]="msgToSend" />
                        <button class="msg_send_btn" type="button" [disabled]="!msgToSend || (msgToSend && !msgToSend.trim())">
                            <i class="fa fa-paper-plane-o" aria-hidden="true" (click)="sendMessage()"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>